{:paths ["src"]
 :deps  {org.clojure/clojure       {:mvn/version "1.10.3"
                                    :scope       "provided"}
         org.clojure/clojurescript {:mvn/version "1.10.844"
                                    :scope       "provided"}
         re-frame/re-frame         {:mvn/version "1.2.0"
                                    :scope       "provided"}
         club.donutpower/system    {:mvn/version "0.0.94"}
         meta-merge                {:mvn/version "1.0.0"}
         com.cemerick/url          {:mvn/version "0.1.1"}
         venantius/accountant      {:mvn/version "0.2.4"}
         metosin/reitit-core       {:mvn/version "0.5.15"}
         metosin/reitit-frontend   {:mvn/version "0.5.15"}
         metosin/reitit-spec       {:mvn/version "0.5.15"}
         medley                    {:mvn/version "1.3.0"}
         rads/anomalies            {:mvn/version "0.1.13"}
         cljs-ajax                 {:mvn/version "0.8.4"}
         sweet-tooth/describe      {:mvn/version "0.4.0"}}}
