{:paths ["src" "resources"]
 :deps  {org.clojure/clojure         {:mvn/version "1.10.3"
                                      :scope       "provided"}
         org.clojure/clojurescript   {:mvn/version "1.11.4"
                                      :scope       "provided"}
         re-frame/re-frame           {:mvn/version "1.2.0"
                                      :scope       "provided"}
         cljs-ajax/cljs-ajax         {:mvn/version "0.8.4"}
         club.donutpower/system      {:mvn/version "0.0.154"}
         club.donutpower/sugar       {:mvn/version "0.0.14"}
         com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
         com.cemerick/url            {:mvn/version "0.1.1"}
         medley/medley               {:mvn/version "1.3.0"}
         meta-merge/meta-merge       {:mvn/version "1.0.0"}
         metosin/malli               {:mvn/version "0.7.5"}
         metosin/reitit-core         {:mvn/version "0.5.15"}
         metosin/reitit-frontend     {:mvn/version "0.5.15"}
         rads/anomalies              {:mvn/version "0.1.13"}
         venantius/accountant        {:mvn/version "0.2.4"}}

 :aliases
 {:test-cljs
  {:extra-paths   ["test"]
   :extra-deps    {org.clojure/test.check  {:mvn/version "0.9.0"}
                   olical/cljs-test-runner {:mvn/version "3.8.0"}}
   :override-deps {club.donutpower/system {:local/root "../system"}}
   :exec-fn       cljs-test-runner.main/-main}

  :build
  {:deps       {io.github.seancorfield/build-clj
                {:git/tag "v0.6.6" :git/sha "171d5f1"}}
   :ns-default build}}}
