;; shadow-cljs configuration
{:deps     {}
 :dev-http {3333 {:roots ["resources/public" "frontend-target/dev/public"]}}
 :builds   {:dev
            {:target           :browser
             :output-dir       "frontend-target/dev/public/js"
             :asset-path       "/js"
             :compiler-options {:optimizations           :none
                                :source-map              true
                                :source-map-detail-level :all
                                :closure-defines         {"re_frame.trace.trace_enabled_QMARK_" true}}

             :modules
             {:main {:entries [donut.frontend.reference.core]
                     :init-fn donut.frontend.reference.core/init}}

             ;; start a development http server on http://localhost:3000
             :devtools
             {:preloads    [day8.re-frame-10x.preload]
              :before-load donut.frontend.reference.core/stop
              :after-load  donut.frontend.reference.core/start}}}}
